/* Preloader */
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}
.dark-mode .card, 
.dark-mode .navbar, 
.dark-mode .table {
    background-color: #222;
    color: white;
}
